In [11]:
min_string = "Hej, jag lär mig Python!"

mitt_heltal = 42

mitt_flyttal = 3.14

print(min_string, mitt_heltal, mitt_flyttal)

Hej, jag lär mig Python! 42 3.14

In [19]:
min_lista = [10, 20, 30, 40, 50]

min_lista.append(60)

min_lista.remove(30)

print(min_lista)

[10, 20, 40, 50, 60]

In [27]:
min_dictionary = {"äpple": 10,
                  "banan": 20,
                  "päron": 15}

min_dictionary["apelsin"] = 25

min_dictionary["banan"] = 30

min_dictionary

{'äpple': 10, 'banan': 30, 'päron': 15, 'apelsin': 25}

In [44]:
namn = "Apti"

ålder = 29

print ("Mitt namn är", namn, "och jag är", ålder, "år gammal.")

Mitt namn är Apti och jag är 29 år gammal.

In [45]:
x = 5
y = 10
summa = x + y

produkt = x * y

print("Resultatet av summa är", summa, "och av produkt är", produkt)

Resultatet av summa är 15 och av produkt är 50

In [54]:
counter = 0
counter += 1
print(counter)
counter -= 2
print(counter)

1
-1